body {
font-family:  Helvetica, Arial, sans-serif;
font-size: 12px;
color: #000000;
background-color: #ffffff;
}
h1 {
color: #ef3124;
font-size: 18px;
}
h2 {
color: #676767;
font-size: 14px;
}
a {
color: #ef3124; 
}
a:visited {
color: #fe8b10;
}
a:active {
color: #ce1414; 
}
		
.header {
color: #ef3124;
width: 1004px;
height: 73px;
padding: 0px;
margin: 30px auto 0px;
background-color: #ffffff;
text-align: left;
}
.header a {
color: #ef3124;
}
.logo {
float: left;
width: 300px;
}

.infobox {
float: right;
width: 450px;
height: 48px;
}
.homeimage {
float: left;
width: 50px;
margin: 0px 5px;
}
.home {
display: inline-block;
margin-top: 18px;
margin-bottom: 12px;
font-size: 18px;
width: 150px;
}
.number {
display: inline-block;
margin-top: 8px;
margin-bottom: 12px;
float: right;
font-size: 28px;
}
.searchbox {
float: right;
width: 180px;
height: 18px;
margin-top: 0px;
margin-left: 300px;
padding: 2px;
background-color: #fff;
border: solid 2px #ef3124;
}
.search {
color: #ef3124;
font-size: 14px;
line-height: 14px;
padding-left: 5px;
border: transparent;
width: 150px;
height: 16px;

outline-color: transparent;
}
.submit {
width: 18px;
height: 18px;
text-indent: -9999px;
background: url(../images/search.png);
border: 0px;
}
.object {
width: 1024px;
min-height: 440px;
margin: 5px auto;
background-color: #ef3124;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.4);
-moz-border-radius: 4px 5px 7px rgba(0, 0, 0, 0.4); 
-webkit-border-radius: 4px 5px 7px rgba(0, 0, 0, 0.4);
}
.content {
float: left;
width: 1004px;
min-height: 420px;
margin: 10px;
background-color: #fff;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

.news {
color: #000000;
float: left;
width: 318px;
min-height: 350px;
padding: 25px;
margin: 10px;
background-color: #fff;
border: 2px dotted #ef3124;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}
.markets {
color: #000000;
float: left;
width: 318px;
min-height: 350px;
padding: 25px;
margin: 10px;
background-color: #fff;
border: 2px dotted #ef3124;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

.banners {
float: right;
width: 200px;
min-height: 400px;
margin: 10px;
background-color: #fff;
}

.footundercover {
width: 1024px;
height: 320px;
margin: 15px auto;
background-image: url('../images/airballs1.jpg');

}

.foot {
color: #fff;
font-size: 12px;
width: 1024px;
height: 320px;
margin: 15px auto;
background-color: #000000;
opacity: 0.7;
}

.footinfo {
float: left;
margin: 25px;
width: 400px;
height: 270px
}
