.menuline {
width: auto;
height: 40px;
margin: 15px auto;
background-color: #ef3124;
background: linear-gradient(to bottom, #fb3b3b 0%, #ef3124 40%, #d61616 100%);
background: -moz-linear-gradient(to bottom, #fb3b3b 0%, #ef3124 40%, #d61616 100%);
background: -webkit-linear-gradient(to bottom, #fb3b3b 0%, #ef3124 40%, #d61616 100%);
}
.menu {
font-family: Times New Roman;
font-size: 18px;
width: 1024px;
height: 40px;
margin: auto;
position:relative;
background-color: #fff;
z-index: 1;
}
.menu ul li a, .menu ul li a:visited {
display: block;
text-decoration: none;
color: #000;
width: 193px;
height: 40px;
text-align: center;
color: #fff;
border-left: 3px solid #fff;
background-color: #ef3124;
background: linear-gradient(to bottom, #fb3b3b 0%, #ef3124 40%, #d61616 100%);
background: -moz-linear-gradient(to bottom, #fb3b3b 0%, #ef3124 40%, #d61616 100%);
background: -webkit-linear-gradient(to bottom, #fb3b3b 0%, #ef3124 40%, #d61616 100%);
line-height: 40px;
font-size: 18px;
overflow: hidden;
}
#open, #open:visited  {
width: 230px;
background-color: #fe8b10;
background: linear-gradient(to bottom, #fe8b10, #fe8b10);
background: -moz-linear-gradient(to bottom, #fe8b10, #fe8b10);
background: -webkit-linear-gradient(to bottom, #fe8b10, #fe8b10);
border-right: 5px solid #fff;
border-left: 5px solid #fff;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}
#open:hover  {
color: #fff;
background-color:#ff6e04;
background: linear-gradient(to bottom, #ff6e04, #ff6e04);
background: -moz-linear-gradient(to bottom, #ff6e04, #ff6e04);
background: -webkit-linear-gradient(to bottom, #ff6e04, #ff6e04);
}
.menu ul {
padding: 0;
margin: 0;
list-style: none
}
.menu ul li {
float: left;
position: relative}
.menu ul li ul {
display: none
}
.menu ul li:hover a {
color: #fff;
background-color: #ce1414;
background: linear-gradient(to bottom, #ce1414, #ce1414);
background: -moz-linear-gradient(to bottom, #ce1414, #ce1414);
background: -webkit-linear-gradient(to bottom, #ce1414, #ce1414);
}
.menu ul li:hover ul {
display: block;
position: absolute;
top: 40px;
left: 0;
width: 105px;
margin: 0px 3px;
}
.menu ul li:hover ul li a {
display: block;
width: 193px;
background-color: #000;
color: #fff;
border: 0px;
opacity: 0.7;
background: linear-gradient(to bottom, #000, #000);
background: -moz-linear-gradient(to bottom, #000, #000);
background: -webkit-linear-gradient(to bottom, #000, #000);
}
.menu ul li:hover ul li a:hover {
background-color: #ce1414;
background: linear-gradient(to bottom, #ce1414, #ce1414);
background: -moz-linear-gradient(to bottom, #ce1414, #ce1414);
background: -webkit-linear-gradient(to bottom, #ce1414, #ce1414);
color: #000
}
